<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h5>{{listaNueva.nombre}}</h5>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Agregar tarea..." class="form-control" #tarea>
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="AgregarTarea(tarea.value)">Agregar</button>
    </div>
    <p><strong>Tareas:</strong></p>
    <ul>
      <li *ngFor="let tarea of listaNueva.pendientes">
        {{tarea}}
      </li>
    </ul>
  </div>
</div>
