<div class="row flex justify-content-center">
  <div class="col-12 col-md-4">
    <h1>Agregar tareas</h1>
  </div>
</div>
<div class="row flex justify-content-center">
  <div class="col-md-4">
    <div class="form">
      <div class="form-group">
        <label for="txtNombreLista" class="col-form-label">Nombre de la lista:</label>
        <input type="text" id="txtNombreLista" class="form-control" #nombreLista/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="AgregarLista(nombreLista.value)">Agregar lista</button>
      </div>
    </div>
  </div>
</div>
<div class="row flex justify-content-center">
  <app-lista-tareas *ngFor="let lista of listaPendientes" [listaNueva] = "lista"></app-lista-tareas>
</div>
